

  <!--modal retorno activo-->
  <div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titles}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="row mt-5">
        <div class="input-group mb-3 input-group-lg">
          <span class="input-group-text" id="basic-addon1">Núm. solicitud:</span>
          <input type="text" class="form-control" placeholder="id" aria-label="Username" aria-describedby="basic-addon1" name="id" id="txtid"  [(ngModel)]="solicitud.id_solicitud" disabled="disabled">
        </div>
        <div class="input-group mb-3 input-group-lg">
          <span class="input-group-text" id="basic-addon1">Fecha de Regreso:</span>
          <input type="date" class="form-control" placeholder="Fecha de regreso" aria-label="Username" aria-describedby="basic-addon1" name="FechaSolicitud" id="txtFechaSalida"  [(ngModel)]="solicitud.fechaRegreso">
        </div>
        <div class="input-group mb-3 input-group-lg">
          <span class="input-group-text" id="basic-addon1">Status:</span>
          <input type="text" id="sta" class="form-control" name="sta" placeholder="Estatus" aria-label="Username" aria-describedby="basic-addon1" name="FechaSolicitud" id="txtFechaStats"  [(ngModel)]="solicitud.status2">
        </div>
      </div>
      <div class="d-grid gap-2">
        <button  type="button" class="btn btn-primary" (click)="saveSomeThing();onUpdateActivoR(solicitud)"> Guardar Cambios </button>
      </div>
      <div class="modal-footer">
      </div>
  <!--modal retorno activo-->


  
   
  
   