
  <div class="row mt-3">
    <h2>Marcar Regreso</h2>
    <div class="col table-responsive-sm">
      <table id="dtMascota" class="table table-bordered table-striped table-sm table-responsive-md" style="width: 100%;">
        <thead>
          <tr class="table-info ">
            <th>ID</th>
            <th>Solicitante</th>
            <th>Fecha Solicitud</th>
            <th>Para</th>
            <th>Motivo Salida</th>
            <th>Cantidad</th>
            <th>Unidad Medida</th>
            <th>Area</th>
            <th>Descripción</th>
            <th>Observaciones</th>
            <th>Autorizador</th>
            <th>Salida</th>
            <th>Provedor</th>

            <th></th>
          </tr>
        </thead>
        <tbody class="table table-bordered">
          <tr *ngFor="let item of datatable"  class="table " style="width: 100%;">
            
            <td>{{item.id_solicitud}}</td>
            <td>{{item.solicitante}}</td>
            <td>{{item.fechaSolicitud}}</td>
            <td>{{item.para}}</td>
            <td>{{item.motivo}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.unidadMedida}}</td>
            <td>{{item.area}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.observaciones}}</td>
            <td>{{item.autorizador}}</td>
            <td>{{item.fechaSalida}}</td>
            <td>{{item.nombreProvedor}}</td>

            <td><button type="button"  (click)="onSetData(item); openFormModal()" style=" margin: 1px " class="boton3">Regreso</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

 
  <!--form modal-->
<div
class="modal fade"
id="myModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Retorno de activos</h5>

      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>

    </div>
    
    <div class="row mt-5">

      

      <div class="input-group mb-3 input-group-lg">
        <span class="input-group-text" id="basic-addon1">Núm. solicitud:</span>
        <input type="text" class="form-control" placeholder="id" aria-label="Username" aria-describedby="basic-addon1" name="id" id="txtid"  [(ngModel)]="solicitud.id_solicitud" disabled="disabled">
      </div>
    

      <div class="input-group mb-3 input-group-lg">
        <span class="input-group-text" id="basic-addon1">Fecha de Regreso:</span>
        <input type="date" class="form-control" placeholder="Fecha de salida" aria-label="Username" aria-describedby="basic-addon1" name="FechaSolicitud" id="txtFechaSalida"  [(ngModel)]="solicitud.fechaRegreso">
      </div>

     

      

    </div>
   
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary" (click)="saveSomeThing();onUpdateActivoR(solicitud)"> Guardar Cambios </button>
    </div>

    <div class="modal-footer">


      
      <!-- <button type="button" class="btn btn-primary" (click)="saveSomeThing();onUpdatePersona(persona)"> Guardar Cambios </button> -->

    </div>