<app-navbar></app-navbar>
<div class="navega card-header">
    <a class="leter nav-link"  href="#"><i class="fas fa-home-lg-alt"></i> Inicio > <i class="navs">Formulario para solicitud</i></a> 
  </div>
  <!--nuevo-->

  <form class=" rounded mb-0 m-4 p-4">

    <label for="inputAddress2">Nombre Completo:</label>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" ><i class="fas fa-file-signature"></i></span>
      <input type="text" class="form-control" placeholder="Nombre del solicitante" name="solicitante" [(ngModel)]="solicitud.solicitante" >
      <datalist id="items">
          <option>Arturo Carrazco</option>
          <option>Cesár Jasso</option>
          <option>Angel Reyes</option>
        </datalist>  
  </div>
  <br>
    <label for="inputAddress2">Fecha:</label>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" ><i class="fas fa-calendar-alt"></i></span>
      <input type="date" class="form-control" placeholder="MM/DD/YYYY" onfocus="(this.type='date')" name="fecha" [(ngModel)]="solicitud.fechaSolicitud">
    </div>
  <br>
    
    <label for="inputAddress2">Proveedor:</label>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" ><i class="fas fa-parachute-box"></i></span>
      <input type="text" class="form-control" placeholder=" nombre del proveedor" name="proveedor" [(ngModel)]="solicitud.para">
    </div>
  <br>
    <label for="inputAddress2">Motivo:</label>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" ><i class="fas fa-file-signature"></i></span>
      <input type="text" class="form-control" placeholder="Motivo de salidad" name="motivo" [(ngModel)]="solicitud.motivo">
    </div>
  <br>
    <label for="inputAddress2">Cantidad:</label>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" ><i class="fas fa-sort-numeric-up"></i></span>
      <input type="number" class="form-control" placeholder="Cantidad" name="cantidad" [(ngModel)]="solicitud.cantidad">
    </div>
  <br>
  
    <label for="inputAddress2">Unidad de medida:</label>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" ><i class="fas fa-sort-amount-up"></i></span>
      <input type="text" class="form-control" placeholder="Unidad de medida" name="unidad medida" [(ngModel)]="solicitud.unidadMedida">
    </div>
  <br>
    <label for="inputAddress2">Area:</label>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" ><i class="fas fa-location"></i></span>
      <input type="text" class="form-control" placeholder="Area" name="area" [(ngModel)]="solicitud.area">
    </div>
  <br>
    <label for="inputAddress2">Descripción:</label>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" ><i class="fas fa-file-signature"></i></span>
      <input type="text" class="form-control" placeholder="Descripción" name="descripcion" [(ngModel)]="solicitud.descripcion">
    </div>
  <br>
    <label for="inputAddress2">Observaciones:</label>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" ><i class="fas fa-align-left"></i></span>
      <input type="text" class="form-control" placeholder="Observaciones" name="observaciones" [(ngModel)]="solicitud.observaciones">
    </div>
  <br>
  <div class="d-grid gap-2">
    <button type="button" class="btn btn-success btn.lg" (click)="onAddSolicitud(solicitud)"><i class="fas fa-paper-plane"></i> Solicitar</button>
    <br>   
</div>

      <!--fin nuevo-->
  </form>


  